@using Iskatel.Model
@model List<KBSimpleType>
@{
    ViewBag.Title = "Типы полей сущностей";
}

<h2>@ViewBag.Title</h2>
<div id="grid-container"></div>
<div id="form-container">
@using (Html.BeginForm("AddSimpleType", "Class", FormMethod.Post))
{
    @Html.TextBox("typeName")
    @Html.TextBox("typeAlias")
    <input type="submit" value="add" />
}
</div>
@section scripts 
{
    <script>
    $(function() {
        loadGrid();
    });
    function loadGrid() {
        $.get('@Url.Action("_SimpleTypeList")',
        function (data) {
            $("#grid-container").html(data);
        }); 
    }
    </script>
}



