@using Iskatel.Model
@model List<KBSimpleType>
@{
    ViewBag.Title = "Simple types";
}

<h2>Simple types</h2>
@foreach (var item in Model)
{
    <p>@item.Name : @item.Alias</p>
}
<p>
@using (Html.BeginForm("AddSimpleType", "Class", FormMethod.Post))
{
    @Html.TextBox("typeName")
    @Html.TextBox("typeAlias")
    <input type="submit" value="add" />
}
</p>



