<h1>Типы полей сущностей</h1>
<p><a ng-click="$ctrl.showAddForm()">Создать новый тип поля</a></p>
<table class="ordinary">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Название
            </th>
            <th>
                Алиас
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="type in $ctrl.simpleTypes">
            <td>
                {{type.Id}}
            </td>
            <td>
                {{type.Name}}
            </td>
            <td>
                {{type.Alias}}
            </td>
            <td>
                <a ng-click="$ctrl.showEditForm(type)" title="редактировать"><span class="glyphicon glyphicon-edit"></span></a>
                <a ng-click="$ctrl.deleteEntity(type)" title="удалить"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </tbody>
</table>
<!-- Modal -->
<div class="modal-backdrop" style="visibility:{{$ctrl.modalVisible}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.hideModal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{$ctrl.modalModeText}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="id">Id</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="id" disabled ng-model="$ctrl.Id" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="name">Название</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="name" ng-model="$ctrl.Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="alias">Алиас</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="alias" ng-model="$ctrl.Alias" />
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.hideModal()">Закрыть</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.saveEntity()">Сохранить</button>
            </div>
        </div>
    </div>
</div>