@{
    ViewBag.Title = "Заглавная страница";
}

<div class="jumbotron">
    <h1>ISKATE.LI</h1>
    <p class="lead">ISKATE.LI -- это...</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Описание 1</h2>
        <p>
            Описание
        </p>
    </div>
    <div class="col-md-4">
        <h2>Описание 2</h2>
        <p>Описание</p>
    </div>
    <div class="col-md-4">
        <h2>Описание 3</h2>
        <p>Описание</p>
    </div>
</div>